/*네비게이션 바*/
#accordionFlushExample {
    background-color: #fcfcfc;
    width: 300px;
    height: 100vh;
}

.nav-item {
    padding-left: 20px;
}

.accordion{
    width: 250px;
    align-content: center;
    background-color: #fcfcfc;
}

.accordion-body {
    align-content: center;
    margin-bottom: 10px; /* 아코디언 아래에 여백 추가 */
}

.margin-top-change {
    margin-top : 10px;
}

.margin-zero {
    margin-bottom: 0px;
}

.accordion-content {
    margin-left: 10px;
}

/*.nav.flex-column {*/
/*    background-color: #fcfcfc; !* 원하는 배경색으로 설정 *!*/
/*    width: 250px; !* 원하는 너비로 설정 *!*/
/*}*/
