/*네비게이션 바*/
#accordionFlushExample {
    background-color: #fcfcfc;
    width: 250px;
    height: 100vh;
}

.nav-item {
    padding-left: 20px;
}

.accordion{
    width: 250px;
    align-content: center;
    background-color: #fcfcfc;
}

.accordion-body {
    align-content: center;
    margin-bottom: 20px; /* 아코디언 아래에 여백 추가 */
}

.accordion-content {
    margin-left: 10px;
}









