<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>URL</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 70vh;
            overflow: hidden;
        }
        .dashboard-container {
            width: 800px; /* 원하는 가로 너비로 설정 */
            height: 600px; /* 원하는 세로 높이로 설정 */
            margin-top: 0px; /* 상단 여백 조절, 원하는 값으로 설정 */
        }
        iframe {
            width: 100%;
            height: 100%;
        }
    </style>
</head>

<body>
<div class="dashboard-container">
    <iframe frameborder='0' scrolling="no"
            src=" https://public.tableau.com/views/total_16963303018100/sheet40_1?:language=ko-KR&publish=yes&:display_count=n&:origin=viz_share_link?:showVizHome=no?:embed=true"></iframe>
</div>
</body>

</html>
